{% extends  "padre.html" %}

{% block seccion %}
    <h1>Panel de control de usuario</h1>
{% endblock %}

{% block contenido %}

    <h2 class="text-center"> Bienvenido/a al sistema </h2>
    
    <div class="container">
        <!-- FILA 1-->
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'app_coder/assets/img/testimonials-2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <a href="{% url 'Logout' %}" class="btn btn-primary">Log Out</a>

{% endblock %}